@font-face {
  font-family: 'Mont-Heavy';
  src: url("/fonts/Fontfabric---Mont-Heavy.otf");
  font-weight: normal;
  font-style: normal;
  }


body {
  padding: 0;
  margin: 0;
  font-family: 'Verdana', 'Geneva', 'sans-serif';
}

* {
  box-sizing: border-box;
}

h1, h2, h3 {
  font-family: 'Mont-Heavy', 'Roboto', 'sans-serif';
}

h3 {
  font-size: 0.8rem;
}

.ant-input {
  color: white;
  width: 200px;
}

.ant-input::placeholder {
  color: gray;
}

.ant-modal-close-x {
  color: white;
}