.main{
  display: flex;
  width: 100%; /* pour ne pas avoir la barre de defilement en bas */
  height: 100vh;
  background-size: cover;
  background-color:#161d26;
  color:white;
}

.containerLeft{
  display: flex;
  justify-content: left;
  align-items: center;
width: 20%;
}
.containerMid{
  display: flex;
  flex-direction: column;
  
  /* justify-content: center; */
  align-items: center;
width: 60%;
}
.containerRight{
  display: flex;
  flex-direction: column;
  align-items: center;
width: 20%;
border-left: white 2px;

}