.container {
    display: flex;
    width: 100%;
    height: 100vh;
}

.leftSection {
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url("/images/fond_pwitter.jpg");
    background-size: cover;
    width: 40vw;
    padding: 3rem;
}

.rightSection {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    padding: 2rem;
    width: 60vw;
    background-color: #161d26;
    color: white;
}

.title {
    line-height: 1.15;
    font-size: 4rem;
}

.btn {
    width: 10rem;
}