.container {
    background-color: #161d28;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    margin: 16px;
}

.input {
    background-color: #161d28;
    border: 1px solid #245586;
    border-radius: 8px;
    color: white;
    padding: 8px;
    margin: 4px;
}

.input:focus-visible {
    border: 1px solid #3f93e8;
    outline: none;

}

.btn {
    width: 10rem;
    font-weight: 600;
    color: black;
}